appnope==0.1.4
asttokens==2.4.1
blinker==1.7.0
CacheControl==0.14.0
certifi==2024.2.2
charset-normalizer==3.3.2
comm==0.2.2
debugpy==1.8.1
decorator==5.1.1
dep-logic==0.2.0
distlib==0.3.8
executing==2.0.1
filelock==3.13.1
findpython==0.4.1
idna==3.6
iniconfig==2.0.0
installer==0.7.0
ipykernel==6.29.3
ipython==8.22.2
isodate==0.6.1
jedi==0.19.1
jupyter_client==8.6.1
jupyter_core==5.7.2
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
mdurl==0.1.2
msgpack==1.0.8
neo4j==5.18.0
nest-asyncio==1.6.0
numpy==1.26.4
packaging==24.0
pandas==2.2.1
parso==0.8.3
pdm==2.12.4
pexpect==4.9.0
platformdirs==4.2.0
pluggy==1.4.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
pyparsing==3.1.2
pyproject_hooks==1.0.0
pytest==8.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pyzmq==25.1.2
rdflib==7.0.0
rdflib-neo4j==1.0
requests==2.31.0
requests-toolbelt==1.0.0
resolvelib==1.0.1
rich==13.7.1
shellingham==1.5.4
six==1.16.0
SQLAlchemy==2.0.28
stack-data==0.6.3
-e git+ssh://git@gitlab.informatik.uni-bonn.de/derofu_2/test_project_thanh2.git@ea7d5c5126dc72a469859d697e2a3b20b4315ae9#egg=test_project_thanh2
tomlkit==0.12.4
tornado==6.4
tqdm==4.66.2
traitlets==5.14.2
truststore==0.8.0
typing_extensions==4.10.0
tzdata==2024.1
unearth==0.14.0
urllib3==2.2.1
virtualenv==20.25.1
wcwidth==0.2.13
